@import "../variables/variables";

html {
  height: 100%;
  box-sizing: border-box;
  background: #EEE;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: $site-font;
  position: relative;
  min-height: 100%;
}

main {
  min-height: 100%;
}

a {
  &:hover {
    color: inherit;
  }
}

.material-icons {
  vertical-align: middle;
}
.btn {
  overflow: hidden;
}

.alert{
  margin-bottom: 0;
  border-radius: 0;
  word-wrap: break-word;
}

.blur{
  pointer-events: none;
  filter: blur(2px);
}

/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 1.5s;
  &:hover {
    background: #fcfcfc radial-gradient(circle, transparent 1%, #fcfcfc 1%)
      center/15000%;
  }
  &:active {
    background-color: #eee;
    background-size: 100%;
    transition: background 0s;
  }
}

.notfound-wrapper {
  display: flex;
  align-items: center;
  h3 {
    font-size: 6rem;
    color: #ccc;
  }
}

.switch-wrapper {
  position: relative;
}
 
.switch-wrapper > div {
  position: absolute;
  width: 100%;
  height: 100%;;
}
