@import "../variables/variables";

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: $site-font;
  position: relative;
  min-height: 100%;
  padding-bottom: 100px;
}

main {
  min-height: 100%;
}

a {
  &:hover {
    color: inherit;
  }
}

.material-icons {
  vertical-align: middle;
}
.btn {
  overflow: hidden;
}

/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 1.5s;
  &:hover {
    background: #fcfcfc radial-gradient(circle, transparent 1%, #fcfcfc 1%)
      center/15000%;
  }
  &:active {
    background-color: #eee;
    background-size: 100%;
    transition: background 0s;
  }
}
