@import "../variables/colors";

.orange-submit{
  background-color: #E1B08E !important;
  border-color: #E1B08E !important;
  padding: .8rem;
  color: #FFF;
  display: block;
  width: 100%;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 0;
}