.home-menu{
    &.list-group{
        .list-group-item{
            border-radius: 0;
            color: #70b0a8;
            padding: 1rem 1.5rem;
            &:hover{
                border-left: 5px solid #70b0a8;
            }
        }
    }
}